# Node
**/node_modules/
**/dist/
**/build/
**/.cache/
**/.next/
**/.nuxt/
**/.vite/
**/.turbo/
**/coverage/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Mac/OS
.DS_Store

# Env & local
.env
.env.*
server/.env

# Uploads / generated binaries
server/uploads/

# Python junk
__pycache__/
*.py[cod]
*.pyo

# Postman exports
*.postman_collection.json
__pycache__/
*.py[cod]
*.pyo
